#
Django<1.5
#dj-database-url>=0.2.1
django-countries>=0.1
django-compressor>=0.1
django-extensions>=0.1
django-jenkins>=0.1
django-nose>=0.1
django-pagination>=0.1
django-paypal>=0.1
django-postal>=0.1
django-tagging>=0.1
django-tastypie==0.9.16
django-timelog>=0.1
gunicorn>=0.1
requests>=0.1
pusher>=0.7
pep8>=0.1
pillow>=0.1
#psycopg2>=2.4.6
pyflakes>=0.1
python-memcached>=0.1
south>=0.1
windmill>=0.1
django-cors-headers>=0.1
mimeparse>=0.13.0
git+https://github.com/johngoodleaf/django-lfs.git#egg=lfs
git+https://github.com/johngoodleaf/lfs-theme.git#egg=lfs_theme
git+https://github.com/diefenbach/django-portlets.git#egg=portlets
git+https://github.com/diefenbach/django-reviews.git#egg=reviews
git+https://github.com/diefenbach/lfs-contact.git
git+https://github.com/diefenbach/lfs-order-numbers.git
git+https://github.com/diefenbach/lfs-paypal.git
git+https://github.com/diefenbach/lfs-bench.git
git+https://github.com/diefenbach/lfs-criterion-us-states
git+https://github.com/jgoodleaf/lfs-rest.git@feature/category-tree-view#egg=lfs_rest

